@charset "utf-8";

/* 나눔고딕 폰트를 불러옵니다. */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* CSS Document */
span#titletxt{
color:#FFF;
font-weight:bold;
font-size:36px;
}

span#deco{
color:#FFF;
font-weight:bold;
font-size: 30px;
}

body#background{
background-image:url(fish.png);
font-family: 'Nanum Gothic', sans-serif;
/*
스크롤바 숨기기
왼쪽으로 치우쳐짐
*/
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

img.polynyan{
margin-top:15%;
width: 400px;
height: 400px;
cursor: pointer;
}
div.balloon{
cursor: pointer;
position: absolute;
top: 7%;
left: 60%;
width: auto;
height: auto;
}

div#text{
font-size: 129%;
position: absolute;
top: 16%;
left: 66%;
width: auto;
height: auto;
}

div.textbox{
text-align: center;
display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
border-color:#CCC;
border-style: solid;
border-width: 3px;
font-size:20px;
background-color: rgb(255,255,255);
width: 400px;
height: auto;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);

}
.imgboalloon{
 width:400px;
 height:300px;
}


@media (max-width:599px) and (orientation:portrait){
/* 나눔고딕 폰트를 불러옵니다. */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* CSS Document */
span#titletxt{
color:#FFF;
font-weight:bold;
font-size:36px;
}

span#deco{
color:#FFF;
font-weight:bold;
font-size: 30px;
}

body#background{
background-image:url(fish.png);
font-family: 'Nanum Gothic', sans-serif;
/*
스크롤바 숨기기
왼쪽으로 치우쳐짐
*/
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

img.polynyan {
    margin-top: 15%;
    width: 40%;
    height: 40%;
}
div.balloon {
    position: absolute;
    margin-left: 5%;
    width: auto;
    height: auto;
    top: 8%;
}

div#text {
    position: absolute;
    top: 16%;
    left: 66%;
    width: auto;
    height: auto;
    font-size: 60%;
}

div.textbox{
text-align: center;
display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
border-color:#CCC;
border-style: solid;
border-width: 3px;
font-size:20px;
background-color: rgb(255,255,255);
width: 80%;
height: auto;
}

.imgboalloon{
 width:100px;
 height:100px;
}
}
